.container {
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
}

.wrapper {
    display: flex;
        justify-content: center;
        /* align-items: center; */
        margin: 5rem;
        padding: 2rem;
        height: 100%;
        width: 89%;
        gap: 10rem;
        height: 100%;
}

.bio_container {
        width: 89%;
        display: flex;
        flex-direction: column;
        background-color: var(--accent-color);
        color: var(--text-color);
        padding: 2rem;
}

.image_container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    width: 550px;
    height: 100%;
}

.bio_span {
    width: 80%;
    line-height: 1.5rem;
    text-align: justify;
}

.playfair_display_header {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
}

.playfair_display {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}