.nav {
  height: 3rem;
  margin: 0.3rem 0.6rem 0 0.5rem;
}

.flex_props {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky_top {
  position: fixed;
  top: 0;
  background-color: var(--main-color);
  width: 100%;
  z-index: 100;
}

.nav_logo {
  border-radius: 175px;
}

/*  320px or 480px (for mobile phones),
 768px (for tablets) */
@media (width < 768px) {
  /* … */
}