.container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    height: 100%;
    width: 100%;
}

.socials_container {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 24rem;
}

.socials {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.avatar {
    height: 20vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.accent {
    height: 30vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--accent-color);
    color: var(--text-color);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color);
    width: 10%;
}

.contact_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contact_wrapper:hover {
    background-color: var(--accent-color);
    border: 1px solid;
    padding: 0.6rem;
    border-color: transparent;
    border-radius: 175px;
}

.arrow {
    height: 48px;
    width: 48px;
}

.icon_social {
    color: var(--text-color);
}

.icon_social:hover {
    border-radius: 175px;
    animation: shake 0.3s infinite;
}

.playfair_display_header {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5rem;
}

.playfair_display {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

.circle {
    width: 31%;
    height: 100%;
    border-radius: 175px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px var(--lighter-color);
    animation: glow 2s infinite ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 10px var(--animation-color-first), 0 0 20px var(--animation-color-first), 0 0 30px var(--animation-color-first);
    }

    50% {
        box-shadow: 0 0 20px var(--animation-color-third), 0 0 40px var(--animation-color-third), 0 0 60px var(--animation-color-third);
    }
}