.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.flex_col{
    flex-direction: column;
}

.roboto{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto_bold{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.w_80pct{
    width: 100%;
}

.pad_3rem{
    padding: 2rem;
}

.left_margin{
    margin-left: 0.5rem;
}

.bottom_margin{
    margin-bottom: 1.5rem;
}

.white_background{
    background-color: #f6b45e;
}

@media(width < 450px) {
    .bottom_margin {
            margin-bottom: 8rem;
        }
}