.container {
    width: 100%;
    background-color: var(--main-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
    width: 100%;
    gap: 2rem;
    height: 100%;
}

.work_ex_header {
    color: var(--text-color);
}



.playfair_display_header {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
}

.playfair_display {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.cards {
    margin-top: 1rem;
    width: 100%;
    pointer-events: none;
}