.left_margin{
    margin-left: 0.5rem;
}

.roboto{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto_bold{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* d-flex flex-column w-100 */
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* d-flex justify-content-between */
.header{
  display: flex;
  justify-content: space-between;
}

/* tab */
@media (320px < width < 950px) {
  .header {
    flex-direction: column;
  }
}

/* phone */
@media(width < 320px){
  .header {
      flex-direction: column;
    }
}